* {
    box-sizing: border-box;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: orange;
    
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: #000000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: orange;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three unequal columns that sits next to each other */
  .column {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    
  }
  
  /* Left and right column */
  .column.side {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
  }
  
  /* Middle column */
  .column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    color: 
  }
  
  /* Style the footer */
  .footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: orange
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  .flex-container {
        position: absolute;
        margin-top: 45px;
        margin-left: 20px;
  }